@model AgreementModel
@{
    Layout = null;
}
<style>
    .input-validation-error {
        border: 1px solid red !important;
    }

    .field-validation-error {
        color: red !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="ProductGroupId">Group</label>
            </div>
            <div class="col-md-9">
                <select asp-for="ProductGroupId" asp-items="Model.ProductGroupList" class="form-control" onchange="LoadProduct()"></select>
                <span asp-validation-for="ProductGroupId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="ProductId">Product</label>
            </div>
            <div class="col-md-9">
                <select asp-for="ProductId" asp-items="Model.ProductList" class="form-control"></select>
                <span asp-validation-for="ProductId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="EffectiveDate">Effective Date</label>
            </div>
            <div class="col-md-9">
                <input asp-for="EffectiveDate" class="form-control" />
                <span asp-validation-for="EffectiveDate"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="ExpirationDate">Expiration Date</label>
            </div>
            <div class="col-md-9">
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="NewPrice">New Price</label>
            </div>
            <div class="col-md-9">
                <input asp-for="NewPrice" class="form-control" />
                <span asp-validation-for="NewPrice"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Active">Active</label>
            </div>
            <div class="col-md-9">
                <input asp-for="Active" />
                <span asp-validation-for="Active"></span>
            </div>
        </div>
    </div>
</div>